<div [@fadeInOut] class="h-full">
  <nav
    class="bg-transparent border-b border-ahi-blue-600 ml-8 dark:bg-gray-900"
  >
    <div
      class="max-w-screen-xl flex h-20 flex-wrap items-center justify-start mx-auto pl-2 pt-6"
    >
      <a
        class="flex items-center cursor-pointer {{
          showUpdate
            ? 'border-b-2 border-ahi-blue-400 text-white'
            : 'text-gray-500 dark:text-gray-400'
        }}"
        (click)="showUpdate = true; showCalculation = false"
      >
        <span
          class="self-center text-base font-normal whitespace-nowrap text-white dark:text-white"
          >Update</span
        >
      </a>
      <a
        class="flex items-center cursor-pointer ml-10 {{
          showCalculation
            ? 'border-b-2 border-ahi-blue-400 text-white'
            : 'text-gray-500 dark:text-gray-400'
        }}"
        (click)="showUpdate = false; showCalculation = true"
      >
        <span
          class="text-base font-normal whitespace-nowrap text-white dark:text-white"
          >Calculation</span
        >
      </a>
      <button
        data-collapse-toggle="navbar-default"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-default"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
    </div>
  </nav>
  <!-- header -->
  <!-- customerName -->
  <div class="flex justify-start mt-6 ml-8 gap-4">
    <div
      class="bg-ahi-blue-900 w-40 cursor-pointer h-28 shadow-md hover:scale-105 rounded-lg ease-in-out transition-all duration-200"
      #pilihan1
      [class.selected]="selectedOption === 'GA'"
      (click)="selectCustomer('GA')"
    >
      <div class="px-4 py-2">
        <h2 class="text-sm text-white font-normal mt-14">Garuda</h2>
        <h2 class="text-sm text-white font-normal">Indonesia (GA)</h2>
      </div>
    </div>

    <div
      class="bg-ahi-blue-900 w-40 h-28 cursor-pointer shadow-md hover:scale-105 rounded-lg ease-in-out transition-all duration-200"
      #pilihan2
      [class.selected]="selectedOption === 'CITILINK'"
      (click)="selectCustomer('CITILINK')"
    >
      <div class="px-4 py-2">
        <h2 class="text-sm text-white font-normal mt-16">CITILINK (QG)</h2>
      </div>
    </div>
   <button (click)="openModalAddNewCustomer()" class="bg-ahi-blue-900 w-30 h-28 cursor-pointer shadow-md hover:scale-105 rounded-lg ease-in-out transition-all duration-200 text-sm text-white px-5 py-2.5 text-center">
                    <hero-icon
                      name="plus-circle"
                      type="outline"
                      class="h-8 w-8 cursor-pointer text-white duration-200"
                    ></hero-icon
                    ><p>Add New</p>
        </button>
  </div>
  <div
    *ngIf="showUpdate"
    [@fadeInOut]
    class="bg-gradient-to-r h-screen from-ahi-blue-800 to-ahi-blue-600"
  >
    <form (ngSubmit)="uploadFile(fileInput.files[0], dataTypeSelect.value)">
      <!-- Loading progress -->
      <div class="ml-8">
        <div class="flex justify-start items-center mt-2 mb-1">
          <span
            *ngIf="isUploading"
            class="text-base animate-pulse font-medium text-white dark:text-white"
            >Loading
          </span>
          <span
            *ngIf="isUploading"
            class="text-sm ml-8 font-medium text-ahi-blue-1000 dark:text-white"
            >{{ uploadProgress }}%</span
          >
        </div>
        <div
          *ngIf="isUploading"
          class="w-96 bg-gray-200 rounded-full h-2.5 dark:bg-gray-700"
        >
          <div
            class="bg-blue-600 h-2.5 transition-all ease-in-out rounded-full"
            [style.width.%]="uploadProgress"
          ></div>
        </div>
      </div>

      <!-- Update data -->
      <div class="mt-6 ml-8 flex flex-row items-center text-center">
        <h4 class="text-white text-left w-40">Update data</h4>
        <input
          #fileInput
          class="block ml-4 w-64 text-xs text-ahi-blue-1000 border border-gray-300 rounded-lg cursor-pointer bg-ahi-blue-900 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
          type="file"
          name="upload_file"
          (change)="onFileSelected($event)"
        />
      </div>

      <!-- Select data type -->
      <div class="mt-6 ml-8 items-center text-center flex flex-row">
        <h4 class="text-white text-left w-40">Select data type</h4>
        <select
          #dataTypeSelect
          id="small"
          class="ml-4 w-48 p-2 text-sm text-white border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 bg-ahi-blue-900 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option disabled selected>Select</option>
          <option value="APU">APU</option>
          <option value="Bleed Monitor">Bleed Monitor</option>
          <option value="Engine">Engine</option>
          <option value="Pack Assessment">Pack Assessment</option>
          <option value="Repetitive Problem">Repetitive Problem</option>
        </select>
      </div>

      <!-- Upload button -->
      <button
        type="submit"
        class="bg-ahi-green-500 mt-6 ml-8 inline-flex items-center text-white py-2 px-4 rounded hover:bg-ahi-green-600 focus:outline-none focus:bg-ahi-green-600"
      >
        Upload<svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 ml-1"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12"
          />
        </svg>
      </button>
    </form>
  </div>

  <div
    *ngIf="showCalculation"
    [@fadeInOut]
    class="bg-gradient-to-r h-full from-ahi-blue-800 to-ahi-blue-600"
  >
    <div *ngIf="dashboardState$ | async as dashboardState" class="ml-4">
      <div class="ml-2 mt-6">
        <div class="mt-6 ml-2 flex flex-row text-center">
          <h4 class="text-white w-44 text-left">Score Weight</h4>
          <button
            (click)="restoreConfigValue()"
            class="block w-60 mb-5 px-2 py-2 text-xs text-white rounded-lg cursor-pointer bg-ahi-blue-900 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
            id="small_size"
          >
            Restore Original Weigh
          </button>
        </div>
      </div>
      <!-- Aircraft System -->
      <div class="mt-6 ml-4" [@fadeInOut]>
        <div class="flex flex-row">
          <table class="table-fixed border-spacing-2">
            <tbody>
              <tr>
                <td class="py-2 w-40 text-left">
                  <span class="text-white">{{
                    dashboardState.configData[0].configName
                  }}</span>
                </td>
                <td class="px-4 py-2 text-center items-center w-1/4">
                  <label *ngIf="dashboardState.configData"
                    class="relative inline-flex mx-auto items-center cursor-pointer"
                  >
                    <input [(ngModel)]="isRangeAircraftSystem" type="checkbox" value="" class="sr-only peer" />
                    <div
                      class="w-11 h-6 bg-ahi-blue-600 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-sm peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-sm after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-ahi-blue-1000"
                    ></div>
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Table Aircraft System  -->
        <div class="ml-12 mt-4">
          <table class="table-fixed">
            <tbody>
              <tr *ngFor="let item of dashboardState.configData.slice(1, 5)">
                <td class="px-4 py-2">
                  <span class="text-white font-normal">{{
                    item.configName
                  }}</span>
                </td>
                <td class=" text-center w-1/4">
                  <div class="flex flex-col">
                      <input
                        [disabled]="!isRangeAircraftSystem"
                        id="small-range"
                        type="range"
                        [(ngModel)]="item.configValue"
                        step="1"
                        [ngClass]="{'cursor-not-allowed': !isRangeAircraftSystem, 'opacity-60': !isRangeAircraftSystem}"
                        class="w-80 mx-auto h-1 mb-6 mt-2 bg-gray-200 rounded-lg appearance-none range-sm dark:bg-gray-700"
                        [ngStyle]="{
                          background:
                            'linear-gradient(90deg, #00b8eb ' +
                            item.configValue +
                            '%, #ccc ' +
                            item.configValue +
                            '%)'
                        }"
                        (change)="updateConfigWeight(item.uniqueId, item.configValue)"
                      />

                    <span [ngClass]="{'text-opacity-60': !isRangeAircraftSystem}" class="text-white text-sm font-normal">{{
                      item.configValue
                    }}</span>
                  </div>
                </td>
              </tr>
              <tr
                class=""
                *ngFor="let subItemHil of dashboardState.configData.slice(5, 9)"
              >
                <td class="px-4 py-2 ml-6">
                  <span class="text-white font-normal">{{
                    subItemHil.configName
                  }}</span>
                </td>
                <td class="px-4 py-2 text-center ml-6 items-center w-2/4">
                  <div class="flex flex-col">

                      <input
                      [disabled]="!isRangeAircraftSystem"
                      id="small-range"
                      type="range"
                      [(ngModel)]="subItemHil.configValue"
                      step="1"
                      [ngClass]="{'cursor-not-allowed': !isRangeAircraftSystem, 'opacity-60': !isRangeAircraftSystem}"
                      class="w-80 mx-auto h-1 mb-6 mt-2 bg-gray-200 rounded-lg appearance-none range-sm dark:bg-gray-700"
                      [ngStyle]="{
                        background:
                          'linear-gradient(90deg, #00b8eb ' +
                          subItemHil.configValue +
                          '%, #ccc ' +
                          subItemHil.configValue +
                          '%)'
                      }"
                      (change)="updateConfigWeight(subItemHil.uniqueId, subItemHil.configValue)"/>
                    <span [ngClass]="{'text-opacity-60': !isRangeAircraftSystem}" class="text-white text-sm font-normal">{{
                      subItemHil.configValue
                    }}</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Engine & APU -->
      <div class="mt-6 ml-4" [@fadeInOut]>
        <div class="flex flex-row">
          <table class="table-fixed border-spacing-2">
            <tbody>
              <tr>
                <td class="py-2 w-40 text-left">
                  <span class="text-white">{{
                    dashboardState.configData[9].configName
                  }}</span>
                </td>
                <td class="px-4 py-2 text-center items-center w-1/4">
                  <label *ngIf="dashboardState.configData"
                    class="relative inline-flex mx-auto items-center cursor-pointer"
                  >
                    <input [(ngModel)]="isRangeEngineApu" type="checkbox" value="" class="sr-only peer" />
                    <div
                      class="w-11 h-6 bg-ahi-blue-600 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-sm peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-sm after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-ahi-blue-1000"
                    ></div>
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Table Engine & APU -->
        <div class="ml-12 mt-4">
          <table class="table-fixed border-spacing-2">
            <tbody>
              <tr *ngFor="let item of dashboardState.configData.slice(10, 12)">
                <td class="px-2 py-2">
                  <span [ngClass]="{'text-opacity-60': !isRangeEngineApu}" class="text-white font-normal">{{ item.configName }}</span>
                </td>
                <td class="px-4 py-2 text-center items-center w-2/4">
                  <div class="flex flex-col">
                      <input
                      [disabled]="!isRangeEngineApu"
                      id="small-range"
                      type="range"
                      [(ngModel)]="item.configValue"
                      step="1"
                      [ngClass]="{'cursor-not-allowed': !isRangeEngineApu, 'opacity-60': !isRangeEngineApu}"
                      class="w-80 mx-auto h-1 mb-6 mt-2 bg-gray-200 rounded-lg appearance-none cursor-pointer range-sm dark:bg-gray-700"
                      [ngStyle]="{
                        background:
                          'linear-gradient(90deg, #00b8eb ' +
                          item.configValue +
                          '%, #ccc ' +
                          item.configValue +
                          '%)'
                      }"
                      (change)="updateConfigWeight(item.uniqueId, item.configValue)"/>
                    <span [ngClass]="{'text-opacity-60': !isRangeEngineApu}" class="text-white text-sm font-normal">{{
                      item.configValue
                    }}</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
