<div [@fadeInOut] class="h-full">
  <nav
    class="bg-transparent border-b border-ahi-blue-600 ml-8 dark:bg-gray-900"
  >
    <div
      class="max-w-screen-xl flex h-20 flex-wrap items-center justify-start mx-auto pl-2 pt-6"
    >
      <a
        class="flex items-center cursor-pointer {{
          showUpdate
            ? 'border-b-2 border-ahi-blue-400 text-white'
            : 'text-gray-500 dark:text-gray-400'
        }}"
        (click)="showUpdate = true; showCalculation = false"
      >
        <span
          class="self-center text-base font-normal whitespace-nowrap text-white dark:text-white"
          >Update</span
        >
      </a>
      <a
        class="flex items-center cursor-pointer ml-10 {{
          showCalculation
            ? 'border-b-2 border-ahi-blue-400 text-white'
            : 'text-gray-500 dark:text-gray-400'
        }}"
        (click)="showUpdate = false; showCalculation = true"
      >
        <span
          class="text-base font-normal whitespace-nowrap text-white dark:text-white"
          >Calculation</span
        >
      </a>
      <button
        data-collapse-toggle="navbar-default"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-default"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
      <!-- <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
              <li>
                <a href="#" class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500" aria-current="page"></a>
              </li>
              <li>
                <a href="#" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"></a>
              </li>
              <li>
                <a href="#" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"></a>
              </li>
              <li>
                <a href="#" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"></a>
              </li>
              <li>
                <a href="#" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"></a>
              </li>
            </ul>
          </div> -->
    </div>
  </nav>
  <!-- header -->

  <div
    *ngIf="showUpdate"
    [@fadeInOut]
    class="bg-gradient-to-r h-screen ml-6 from-ahi-blue-800 to-ahi-blue-600"
  >
    <form (ngSubmit)="uploadFile(fileInput.files[0], dataTypeSelect.value)">
      <div class="flex justify-start mt-6 ml-8 gap-4">
        <div
          class="bg-ahi-blue-900 w-40 cursor-pointer h-28 shadow-md rounded-lg"
          #pilihan1
          [class.selected]="selectedOption === 'pilihan1'"
          (click)="selectOption('pilihan1')"
        >
          <div class="px-4 py-2">
            <h2 class="text-sm text-white font-normal mt-12">Garuda</h2>
            <h2 class="text-sm text-white font-normal">Indonesia (GA)</h2>
          </div>
        </div>

        <div
          class="bg-ahi-blue-900 w-40 h-28 cursor-pointer shadow-md rounded-lg"
          #pilihan2
          [class.selected]="selectedOption === 'pilihan2'"
          (click)="selectOption('pilihan2')"
        >
          <div class="px-4 py-2">
            <h2 class="text-sm text-white font-normal mt-12">CITILING</h2>
          </div>
        </div>
        <div class="bg-ahi-blue-900 w-20 h-28 shadow-md rounded-lg">
          <div
            class="px-2 py-2 text-white text-sm font-normal mx-auto flex flex-col text-center items-center"
          >
            <hero-icon
              name="plus-circle"
              type="outline"
              class="h-6 w-6 cursor-pointer text-white duration-200"
            ></hero-icon
            >Add New
          </div>
        </div>
      </div>
      <!-- Loading progress -->
      <div *ngIf="isUploading" class="ml-2">
        <div class="flex justify-start items-center mt-2 mb-1">
          <span
            class="text-base animate-pulse font-medium text-white dark:text-white"
            >Loading
          </span>
          <span class="text-sm ml-2 font-medium text-blue-700 dark:text-white"
            >{{ uploadProgress }}%</span
          >
        </div>
        <div class="w-96 bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
          <div
            class="bg-blue-600 h-2.5 transition-all ease-in-out rounded-full"
            [style.width.%]="uploadProgress"
          ></div>
        </div>
      </div>

      <!-- Update data -->
      <div class="mt-6 ml-2 flex flex-row items-center text-center">
        <h4 class="text-white">Update data</h4>
        <input
          #fileInput
          class="block ml-14 w-64 text-xs text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-ahi-blue-900 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
          type="file"
          name="upload_file"
          (change)="onFileSelected($event)"
        />
      </div>

      <!-- Select data type -->
      <div class="mt-6 ml-2 items-center text-center flex flex-row">
        <h4 class="text-white">Select data type</h4>
        <select
          #dataTypeSelect
          id="small"
          class="ml-7 w-48 p-2 text-sm text-white border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 bg-ahi-blue-900 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option selected>Select config type</option>
          <option value="APU">APU</option>
          <option value="Bleed Monitor">Bleed Monitor</option>
          <option value="Engine">Engine</option>
          <option value="Pack Assessment">Pack Assessment</option>
          <option value="Repetitive Problem">Repetitive Problem</option>
        </select>
      </div>

      <!-- Upload button -->
      <button
        type="submit"
        class="bg-ahi-green-500 mt-6 ml-2 text-white py-2 px-4 rounded hover:bg-ahi-green-600 focus:outline-none focus:bg-ahi-green-600"
      >
        Upload Data
      </button>
    </form>
  </div>

  <div
    *ngIf="showCalculation"
    [@fadeInOut]
    class="bg-gradient-to-r h-full from-ahi-blue-800 to-ahi-blue-600"
  >
    <div class="ml-4">
      <div class="ml-2 mt-6">
        <div class="mt-6 ml-2 flex flex-row text-center">
          <h4 class="text-white">Score Weight</h4>
          <button
            class="block ml-16 w-60 mb-5 px-2 py-2 text-xs text-white rounded-lg cursor-pointer bg-ahi-blue-900 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
            id="small_size"
          >
            Restore Original Weigh
          </button>
        </div>
      </div>
      <!-- Aircraft System -->
      <div class="mt-6">
        <div class="flex flex-row">
          <table class="table-fixed border-spacing-2">
            <tbody>
              <tr>
                <td class="px-6 py-2 text-center">
                  <span class="text-white">Aircraft System</span>
                </td>
                <td class="px-4 py-2 text-center items-center w-1/4">
                  <label
                    class="relative inline-flex mx-auto items-center cursor-pointer"
                  >
                    <input type="checkbox" value="" class="sr-only peer" />
                    <div
                      class="w-11 h-6 bg-ahi-blue-600 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-sm peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-sm after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-ahi-blue-1000"
                    ></div>
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Table Aircraft System  -->
        <div class="ml-12 mt-4">
          <table class="table-fixed border-spacing-2">
            <tbody>
              <tr>
                <td class="px-4 py-2">
                  <span class="text-white font-normal">HIL</span>
                </td>
                <td class="px-4 py-2 text-center items-center w-2/4">
                  <div class="flex flex-col">
                    <input
                      id="small-range"
                      type="range"
                      [(ngModel)]="hilScore"
                      step="1"
                      class="w-80 mx-auto h-1 mb-6 mt-2 bg-gray-200 rounded-lg appearance-none cursor-pointer range-sm dark:bg-gray-700"
                      [ngStyle]="{
                        background:
                          'linear-gradient(90deg, #00b8eb ' +
                          hilScore +
                          '%, #ccc ' +
                          hilScore +
                          '%)'
                      }"
                    />
                    <span class="text-white text-sm font-normal">{{
                      hilScore
                    }}</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="px-4 py-2">
                  <span class="text-white font-normal">Repetitive Problem</span>
                </td>
                <td class="px-4 py-2 text-center items-center w-2/4">
                  <div class="flex flex-col">
                    <input
                      id="small-range"
                      type="range"
                      [ngStyle]="{
                        background:
                          'linear-gradient(90deg, #00b8eb ' +
                          hilScore +
                          '%, #ccc ' +
                          hilScore +
                          '%)'
                      }"
                      [(ngModel)]="hilScore"
                      step="1"
                      class="w-80 mx-auto h-1 mb-6 mt-2 bg-gray-200 rounded-lg appearance-none cursor-pointer range-sm dark:bg-gray-700"
                    />
                    <span class="text-white text-sm font-normal">{{
                      hilScore
                    }}</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="px-4 py-2">
                  <span class="text-white font-normal">Pack Assesment</span>
                </td>
                <td class="px-4 py-2 text-center items-center w-2/4">
                  <div class="flex flex-col">
                    <input
                      id="small-range"
                      type="range"
                      [ngStyle]="{
                        background:
                          'linear-gradient(90deg, #00b8eb ' +
                          hilScore +
                          '%, #ccc ' +
                          hilScore +
                          '%)'
                      }"
                      [(ngModel)]="hilScore"
                      step="1"
                      class="w-80 mx-auto h-1 mb-6 mt-2 bg-gray-200 rounded-lg appearance-none cursor-pointer range-sm dark:bg-gray-700"
                    />
                    <span class="text-white text-sm font-normal">{{
                      hilScore
                    }}</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="px-4 py-2">
                  <span class="text-white font-normal">Bleed Monitor</span>
                </td>
                <td class="px-4 py-2 text-center items-center w-2/4">
                  <div class="flex flex-col">
                    <input
                      id="small-range"
                      type="range"
                      [ngStyle]="{
                        background:
                          'linear-gradient(90deg, #00b8eb ' +
                          hilScore +
                          '%, #ccc ' +
                          hilScore +
                          '%)'
                      }"
                      [(ngModel)]="hilScore"
                      step="1"
                      class="w-80 mx-auto h-1 mb-6 mt-2 bg-gray-200 rounded-lg appearance-none cursor-pointer range-sm dark:bg-gray-700"
                    />
                    <span class="text-white text-sm font-normal">{{
                      hilScore
                    }}</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Engine & APU -->
      <div class="mt-6">
        <div class="flex flex-row">
          <table class="table-fixed border-spacing-2">
            <tbody>
              <tr>
                <td class="px-6 py-2 text-center">
                  <span class="text-white">Engine & APU</span>
                </td>
                <td class="px-4 py-2 text-center items-center w-1/4">
                  <label
                    class="relative inline-flex mx-auto items-center cursor-pointer"
                  >
                    <input type="checkbox" value="" class="sr-only peer" />
                    <div
                      class="w-11 h-6 bg-ahi-blue-600 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-sm peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-sm after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-ahi-blue-1000"
                    ></div>
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Table Engine & APU -->
        <div class="ml-12 mt-4">
          <table class="table-fixed border-spacing-2">
            <tbody>
              <tr>
                <td class="px-4 py-2 1/4">
                  <span class="text-white font-normal">Engine</span>
                </td>
                <td class="px-4 py-2 text-center items-center w-2/4">
                  <div class="flex flex-col">
                    <input
                      id="small-range"
                      type="range"
                      [ngStyle]="{
                        background:
                          'linear-gradient(90deg, #00b8eb ' +
                          hilScore +
                          '%, #ccc ' +
                          hilScore +
                          '%)'
                      }"
                      [(ngModel)]="hilScore"
                      step="1"
                      class="w-80 mx-auto h-1 mb-6 mt-2 bg-gray-200 rounded-lg appearance-none cursor-pointer range-sm dark:bg-gray-700"
                    />
                    <span class="text-white text-sm font-normal">{{
                      hilScore
                    }}</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="px-4 py-2 1/4">
                  <span class="text-white font-normal">APU</span>
                </td>
                <td class="px-4 py-2 text-center items-center w-2/4">
                  <div class="flex flex-col">
                    <input
                      id="small-range"
                      type="range"
                      [ngStyle]="{
                        background:
                          'linear-gradient(90deg, #00b8eb ' +
                          hilScore +
                          '%, #ccc ' +
                          hilScore +
                          '%)'
                      }"
                      [(ngModel)]="hilScore"
                      step="1"
                      class="w-80 mx-auto h-1 mb-6 mt-2 bg-gray-200 rounded-lg appearance-none cursor-pointer range-sm dark:bg-gray-700"
                    />
                    <span class="text-white text-sm font-normal">{{
                      hilScore
                    }}</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="mt-6">
        <div class="flex flex-row">
          <table class="table-fixed border-spacing-2">
            <tbody>
              <tr>
                <td class="px-6 py-2">
                  <span class="text-white">Structure</span>
                </td>
                <td class="px-4 py-2 text-center items-center w-2/4">
                  <label
                    class="relative inline-flex items-center cursor-pointer"
                  >
                    <input type="checkbox" value="" class="sr-only peer" />
                    <div
                      class="w-11 h-6 bg-ahi-blue-600 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-sm peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-sm after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-ahi-blue-1000"
                    ></div>
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Table structure -->
        <div class="ml-12 mt-4">
          <table class="table-fixed border-spacing-2">
            <tbody>
              <tr>
                <td class="px-4 py-2 1/4">
                  <span class="text-white font-normal">ASDCS</span>
                </td>
                <td class="px-4 py-2 text-center items-center w-2/4">
                  <div class="flex flex-col">
                    <input
                      id="small-range"
                      type="range"
                      [ngStyle]="{
                        background:
                          'linear-gradient(90deg, #00b8eb ' +
                          hilScore +
                          '%, #ccc ' +
                          hilScore +
                          '%)'
                      }"
                      [(ngModel)]="hilScore"
                      step="1"
                      class="w-80 mx-auto h-1 mb-6 mt-2 bg-gray-200 rounded-lg appearance-none cursor-pointer range-sm dark:bg-gray-700"
                    />
                    <span class="text-white text-sm font-normal">{{
                      hilScore
                    }}</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="mt-6">
        <div class="flex flex-row">
          <div class="flex flex-row">
            <table class="table-fixed border-spacing-2">
              <tbody>
                <tr>
                  <td class="px-6 py-2">
                    <span class="text-white">Cabin</span>
                  </td>
                  <td class="px-4 py-2 text-center items-center w-2/4">
                    <label
                      class="relative inline-flex items-center cursor-pointer"
                    >
                      <input type="checkbox" value="" class="sr-only peer" />
                      <div
                        class="w-11 h-6 bg-ahi-blue-600 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-sm peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-sm after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-ahi-blue-1000"
                      ></div>
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
