<div [@fadeInOut] class="h-full">
      <nav class="bg-transparent border-b border-ahi-blue-600 dark:bg-gray-900">
        <div class="max-w-screen-xl flex h-20 flex-wrap items-center justify-start mx-auto pl-2 pt-6">
          <a class="flex items-center cursor-pointer" (click)="showUpdate = true; showCalculation = false">
              <span class="self-center text-base font-normal whitespace-nowrap text-white dark:text-white">Update</span>
          </a>
          <a class="flex items-center cursor-pointer ml-10" (click)="showUpdate = false; showCalculation = true">
              <span class=" text-base font-normal whitespace-nowrap text-white dark:text-white">Calculation</span>
          </a>
          <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
              </svg>
          </button>
          <!-- <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
              <li>
                <a href="#" class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500" aria-current="page"></a>
              </li>
              <li>
                <a href="#" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"></a>
              </li>
              <li>
                <a href="#" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"></a>
              </li>
              <li>
                <a href="#" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"></a>
              </li>
              <li>
                <a href="#" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"></a>
              </li>
            </ul>
          </div> -->
        </div>
      </nav>
      <!-- header -->
      <div class="flex justify-start mt-6 ml-2 gap-4">
        <div class="bg-ahi-blue-900 w-40 h-28 shadow-md rounded-lg">
          <div class="px-4 py-2">
            <h2 class="text-sm text-white font-normal mt-12">Garuda</h2>
            <h2 class="text-sm text-white font-normal">Indonesia (GA)</h2>
          </div>
        </div>
        <div class="bg-ahi-blue-900 w-40 h-28 shadow-md rounded-lg">
          <div class="px-4 py-2">
            <h2 class="text-sm text-white font-normal mt-12">Garuda</h2>
            <h2 class="text-sm text-white font-normal">Indonesia (GA)</h2>
          </div>
        </div>
         <div class="bg-ahi-blue-900 w-20 h-28 shadow-md rounded-lg">
          <div class="px-2 py-2 text-white text-sm font-normal justify-center flex flex-col text-center items-center">
            <hero-icon
                    name="plus-circle"
                    type="outline"
                    class="h-6 w-6 cursor-pointer text-white duration-200"
                  ></hero-icon>Add New
          </div>
        </div>
      </div>

      <div *ngIf="showUpdate" [@fadeInOut] class="bg-gradient-to-r h-screen from-ahi-blue-800 to-ahi-blue-600">
        <div class="mt-6 ml-2 flex flex-row text-center">
          <h4 class="text-white">Update data</h4>
          <input class="block ml-14 w-60 mb-5 text-xs text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-ahi-blue-900 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="small_size" type="file">
        </div>

        <div class="mt-6 ml-2 text-center flex flex-row">
          <h4 class="text-white">Select data type</h4>
          <select id="small" class="block ml-6 w-48 p-2 mb-6 text-sm text-white border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 bg-ahi-blue-900 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option selected>Recently Update</option>
            <option value="US">APU</option>
            <option value="US">Bleed Monitor</option>
            <option value="US">Engine</option>
            <option value="US">Pack Assesment</option>
            <option value="US">Repetitive Problem</option>
          </select>
        </div>
      </div>

      <div *ngIf="showCalculation" [@fadeInOut] class="bg-gradient-to-r h-full from-ahi-blue-800 to-ahi-blue-600">
          <div class="ml-2 mt-6">
            <div class="mt-6 ml-2 flex flex-row text-center">
            <h4 class="text-white">Score Weight</h4>
            <button class="block ml-16 w-60 mb-5 px-2 py-2 text-xs text-white rounded-lg cursor-pointer bg-ahi-blue-900 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="small_size">
              Restore Original Weigh
              </button>
          </div>
        </div>

        <div class="mt-6 ml-4">
          <div class="flex fledx-row">
            <span class="text-white">Aircraft System</span>
          <label class="relative inline-flex ml-32 items-center cursor-pointer">
            <input type="checkbox" value="" class="sr-only peer">
            <div class="w-11 h-6 bg-ahi-blue-600 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
          </label>
          </div>

          <div class="ml-16 mt-4">
            <div class=" flex flex-row">
              <span class="text-white font-normal">HIL</span>
              <input id="small-range" type="range" value="50" class="w-80 ml-40 h-1 mb-6 mt-2 bg-gray-200 rounded-lg appearance-none cursor-pointer range-sm dark:bg-gray-700">
            </div>
            <div class=" flex flex-row mt-4">
              <span class="text-white font-normal">Repetitive Problem</span>
              <input id="small-range" type="range" value="50" class="w-80 ml-12 h-1 mb-6 mt-2 bg-gray-200 rounded-lg appearance-none cursor-pointer range-sm dark:bg-gray-700">
            </div>
            <div class=" flex flex-row mt-4">
              <span class="text-white font-normal">Pack Assesment</span>
              <input id="small-range" type="range" value="50" class="w-80 ml-16 h-1 mb-6 mt-2 bg-gray-200 rounded-lg appearance-none cursor-pointer range-sm dark:bg-gray-700">
            </div>
            <div class=" flex flex-row mt-4">
              <span class="text-white font-normal">Bleed Monitor</span>
              <input id="small-range" type="range" value="50" class="w-80 ml-20 h-1 mb-6 mt-2 bg-gray-200 rounded-lg appearance-none cursor-pointer range-sm dark:bg-gray-700">
            </div>
          </div>
        </div>

        <div class="mt-6 ml-4">
          <div class="flex fledx-row">
            <span class="text-white">Engine & APU</span>
          <label class="relative inline-flex ml-36 items-center cursor-pointer">
            <input type="checkbox" value="" class="sr-only peer">
            <div class="w-11 h-6 bg-ahi-blue-600 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
          </label>
          </div>

          <div class="ml-16 mt-4">
            <div class=" flex flex-row">
              <span class="text-white font-normal">Engine</span>
              <input id="small-range" type="range" value="50" class="w-80 ml-32 h-1 mb-6 mt-2 bg-gray-200 rounded-lg appearance-none cursor-pointer range-sm dark:bg-gray-700">
            </div>
            <div class=" flex flex-row mt-4">
              <span class="text-white font-normal">APU</span>
              <input id="small-range" type="range" value="50" class="w-80 ml-36 h-1 mb-6 mt-2 bg-gray-200 rounded-lg appearance-none cursor-pointer range-sm dark:bg-gray-700">
            </div>
          </div>
        </div>

        <div class="mt-6 ml-4">
          <div class="flex fledx-row">
            <span class="text-white">Structure</span>
          <label class="relative inline-flex ml-40 items-center cursor-pointer">
            <input type="checkbox" value="" class="sr-only peer">
            <div class="w-11 h-6 bg-ahi-blue-600 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
          </label>
          </div>

          <div class="ml-16 mt-4">
            <div class=" flex flex-row">
              <span class="text-white font-normal">ASDCS</span>
              <input id="small-range" type="range" value="50" class="w-80 ml-32 h-1 mb-6 mt-2 bg-gray-200 rounded-lg appearance-none cursor-pointer range-sm dark:bg-gray-700">
            </div>
        </div>

        <div class="mt-6 ml-4">
          <div class="flex fledx-row">
            <span class="text-white">Cabin</span>
          <label class="relative inline-flex ml-36 items-center cursor-pointer">
            <input type="checkbox" value="" class="sr-only peer">
            <div class="w-11 h-6 bg-ahi-blue-600 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
          </label>
        </div>

          

      </div>

</div>