<!-- Footer Pagination -->
<div class="w-full bg-gray-50 px-4 py-4 pr-4 items-center border-t-[1px] border-gray-300 flex flex-row justify-between bottom-0">
    <div class="flex flex-row items-center gap-2">
        <span class="text-sm  text-gray-700 dark:text-gray-400">
            Page <span class="font-semibold text-gray-900 dark:text-white">{{currentPage}}</span> to <span class="font-semibold text-gray-900 dark:text-white">{{lastPage}}</span> of <span class="font-semibold text-gray-900 dark:text-white">{{totalItems}}</span> Entries
        </span>
        <!-- <app-dropdown size="p-1" [dropdowns]="perpageDropdown"></app-dropdown> -->
    </div>
    <div class="flex items-center my-auto xs:mt-0">
      <!-- Buttons -->
      <button 
        (click)="currentPage === 1? null : previous()" 
        [ngClass]="currentPage === 1? 'bg-gray-400 cursor-default' : 'bg-blue-500 hover:bg-blue-600'"
        class="inline-flex items-center px-4 py-2 text-xs font-medium text-white rounded-l  ">
          <!-- <svg aria-hidden="true" class="w-4 h-4 mr-1 pt-[2px]" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg> -->
          PREV
      </button>
      <button 
        (click)="currentPage === lastPage? null : next() " 
        [ngClass]="currentPage === lastPage? 'bg-gray-400 cursor-default' : 'bg-blue-500 hover:bg-blue-600'"
        class="inline-flex items-center px-4 py-2 text-xs font-medium text-white bg-blue-500 border-0 border-l border-blue-500 rounded-r ">
          NEXT
          <!-- <svg aria-hidden="true" class="w-4 h-4 ml-1 pt-[2px]" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg> -->
      </button>
    </div>
</div>
  <!-- Footer Pagination -->