<div [@fadeInOut]>
  <!-- Sidebar -->
  <div
    class="flex flex-col fixed top-0 left-0 z-10 px-8 h-full bg-gradient-to-r from-ahi-blue-800 to-ahi-blue-700 text-white p-2"
  >
    <!-- Logo -->
    <div routerLink="/home" class="justify-center flex flex-row items-center cursor-pointer hover:shadow-lg ease-in-out transition-all duration-200 rounded-full">
      <img
        src="../../../../assets/images/AHI_Icon.png"
        alt="No Image"
        class="w-20 m-2"
      />
      <h1 class="text-xs font-light mt-1 tracking-wide">CONFIGURATIONS</h1>
    </div>

    <div class="text-left flex flex-col mt-14 ml-2">
      <h4
        routerLinkActive="router-link-active"
        routerLink="/configuration/general"
        class="ease-in-out transition-all duration-200 cursor-pointer text-white mb-4 font-normal text-base"
      >
        General
      </h4>
      <h4
        routerLinkActive="router-link-active"
        routerLink="/configuration/user"
        class="ease-in-out transition-all duration-200 cursor-pointer text-white mb-4 font-normal text-base"
      >
        User
      </h4>
      <h4
        routerLinkActive="router-link-active"
        routerLink="/configuration/data"
        class="ease-in-out transition-all duration-200 cursor-pointer text-white mb-4 font-normal text-base"
      >
        Data 
      </h4>
      <h4
        routerLinkActive="router-link-active"
        routerLink="/configuration/preferences"
        class="ease-in-out transition-all duration-200 cursor-pointer text-white mb-4 font-normal text-base"
      >
        Preferences
      </h4>
      <h4
        routerLinkActive="router-link-active"
        routerLink="/configuration/support"
        class="ease-in-out transition-all duration-200 cursor-pointer text-white font-normal text-base"
      >
        Support
      </h4>
    </div>

    <div class="sm:flex sm:items-center sm:justify-between">
      <div>
        <button
          type="button"
          class="absolute bottom-6 left-6 px-2 py-2 rounded-full text-sm font-normal leading-normal text-neutral-50 transition duration-150 ease-in-out hover:border-neutral-100 hover:bg-gray-200 hover:bg-opacity-10 hover:text-neutral-100 focus:border-neutral-100 focus:text-neutral-100 focus:outline-none focus:ring-0 active:border-neutral-200 active:text-neutral-200 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10 flex items-center justify-center"
          (click)="doLogout()"
        >
          <hero-icon
            name="logout"
            type="outline"
            class="h-5 w-5 mr-2 cursor-pointer text-white duration-200"
          ></hero-icon
          >Sign Out
        </button>
      </div>
    </div>
  </div>

  <!-- righbar -->
  <div
    class="flex flex-col fixed top-0 right-0 z-30 w-64 bg-gradient-to-b h-screen from-ahi-blue-800 to-ahi-blue-600 text-white"
  >
    <!-- Logo -->
    <!-- Green Yellow Red -->

  </div>
  <!-- body -->
  <div
    class="ml-64 bg-gradient-to-r h-screen from-ahi-blue-800 to-ahi-blue-600"
  >
    <div class="ml-2 z-40">
      <!-- Content -->

      <router-outlet></router-outlet>

      <!-- End of content -->
    </div>
  </div>

  <!-- footer -->
  <!-- <footer class="absolute bottom-0 left-0 right-0 z-10 bg-ahi-blue-800 dark:bg-gray-900">
      <div class="w-screen h-32 mx-auto">
          <div class="sm:flex sm:items-center sm:justify-between">
              <div>
                <button
                  type="button"
                  class="absolute bottom-6 left-6 px-2 py-2 rounded-full text-sm font-normal leading-normal text-neutral-50 transition duration-150 ease-in-out hover:border-neutral-100 hover:bg-gray-200 hover:bg-opacity-10 hover:text-neutral-100 focus:border-neutral-100 focus:text-neutral-100 focus:outline-none focus:ring-0 active:border-neutral-200 active:text-neutral-200 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10 flex items-center justify-center"
                >
                  <hero-icon
                    name="logout"
                    type="outline"
                    class="h-5 w-5 mr-2 cursor-pointer text-white duration-200"
                  ></hero-icon>Sign Out
                </button>
              </div>
          </div>
      </div>
  </footer> -->
</div>
<app-add-new-customer
  (formSubmitEmitted)="closeModalAddnewCustomer()"
></app-add-new-customer>