<div
  class="flex flex-col fixed top-0 left-0 z-40 px-8 h-screen bg-gradient-to-r from-ahi-blue-800 to-ahi-blue-700 text-white p-2"
>
  <!-- Logo -->

  <div class="justify-center flex flex-row items-center">
    <img
      src="../../../../assets/images/AHI_Icon.png"
      alt="No Image"
      class="w-20 m-2"
    />
    <h1 class="text-xs font-light mt-1 tracking-wide">CONFIGURATIONS</h1>
  </div>

  <div class="text-left flex flex-col mt-14 ml-2">
    <h4 class="uppercase text-white mb-4 font-normal text-base">General</h4>
    <h4 class="uppercase text-white mb-4 font-normal text-base">User</h4>
    <h4 class="uppercase text-white mb-4 font-normal text-base">Data</h4>
    <h4 class="uppercase text-white mb-4 font-normal text-base">Preferences</h4>
    <h4 class="uppercase text-white font-normal text-base">Support</h4>
  </div>

  <!-- Green Yellow Red -->

  <div class="grid grid-cols-2 fixed bottom-8 items-center mx-auto mt-5">
    <div>
      <button
        type="button"
        routerLink="/configuration"
        class="inline-block rounded-full p-2 text-md font-medium leading-normal text-neutral-50 transition duration-150 ease-in-out hover:border-neutral-100 hover:bg-gray-200 hover:bg-opacity-10 hover:text-neutral-100 focus:border-neutral-100 focus:text-neutral-100 focus:outline-none focus:ring-0 active:border-neutral-200 active:text-neutral-200 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10"
      >
        <hero-icon
          name="cog"
          type="outline"
          class="h-5 w-5 cursor-pointer text-white duration-200"
        ></hero-icon>
      </button>
    </div>
    <div>
      <button
        type="button"
        class="inline-block ml-3 rounded-full p-2 text-md font-medium leading-normal text-neutral-50 transition duration-150 ease-in-out hover:border-neutral-100 hover:bg-gray-200 hover:bg-opacity-10 hover:text-neutral-100 focus:border-neutral-100 focus:text-neutral-100 focus:outline-none focus:ring-0 active:border-neutral-200 active:text-neutral-200 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10"
      >
        <hero-icon
          name="logout"
          type="outline"
          class="h-5 w-5 cursor-pointer text-white duration-200"
        ></hero-icon>
      </button>
    </div>
  </div>
</div>

<div
  class="sm:ml-64 bg-gradient-to-r from-ahi-blue-800 to-ahi-blue-700 w-screen h-screen"
>
  <div class="">
    <!-- Content -->
    <router-outlet></router-outlet>

    <!-- End of content -->
  </div>
</div>
