<div class="flex flex-col h-screen bg-black shadow-gray shadow-lg text-white p-2">
  <!-- Logo -->
 
  <div class="justify-center items-center">
     <img
    src="../../../../assets/images/AHI_Icon.png"
    alt="No Image"
    class="w-36 mx-auto"
  />
    <div class="flex flex-row justify-center">
      <h1 class="text-5xl font-extralight">30</h1>
      <div class="flex-col ml-2 p-0">
        <h1 class="text-base font-light">MAY 2023</h1>
        <h1 class="text-base font-light">THURSDAY</h1>
      </div>
    </div>
  </div>

  <div class="text-right flex flex-col mt-10 mr-4">
    <h4 class="uppercase text-white font-light text-base">Averange Health</h4>
    <div class="flex flex-row items-end justify-end"> <!-- Menggunakan flex dan justify-end -->
      <h1 class="text-white font-extralight text-6xl">82.</h1>
      <h1 class="text-3xl font-extralight">52</h1>
    </div>
    <h4 class="uppercase text-white font-light text-base">PERCENT Changes</h4>
    <div class="flex flex-row justify-end"> <!-- Menggunakan flex dan justify-end -->
      <h2 class="text-white font-extralight text-4xl">2.57%</h2>
    </div>
  </div>



  <!-- Green Yellow Red -->
  <div class="grid grid-cols-3 mt-12 ml-2 mr-2">
    <div class="text-center">
      <p class="text-5xl font-extralight mb-2">20</p>
      <button
        type="button"
        class="mb-2 block w-full px-2 pb-2 pt-2.5 text-sm font-medium uppercase leading-normal text-black bg-lime-600"
      >
        Green
      </button>
    </div>
    <div class="text-center">
      <p class="text-5xl font-extralight mb-2">4</p>
      <button
        type="button"
        class="mb-2 block w-full px-2 pb-2 pt-2.5 text-sm font-medium uppercase leading-normal text-black bg-yellow-400"
      >
        Yellow
      </button>
    </div>
    <div class="text-center">
      <p class="text-5xl font-extralight mb-2">11</p>
      <button
        type="button"
        class="mb-2 block w-full px-2 pb-2 pt-2.5 text-sm font-medium uppercase leading-normal text-black bg-red-600"
      >
        Red
      </button>
    </div>
  </div>

  <!-- Fleet Dropdown -->
  <div class="ml-6 mt-10 items-center">
    <p class="uppercase text-xl">Fleet</p>
    <select id="small" class="block w-48 p-2 mb-6 text-sm text-white border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      <option selected>B737-800</option>
      <option value="US">B1722-600</option>
      <option value="US">B1722-600</option>
    </select>
  </div>

  <!-- Sort Dropdown -->
  <div class="ml-6 mt-3 items-center">
    <p class="uppercase text-xl">Sort</p>
    <select id="small" class="block w-48 p-2 mb-6 text-sm text-white border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      <option selected>Recently Update</option>
      <option value="US">APU-300</option>
      <option value="US">APU-300</option>
    </select>
  </div>

  <div class="grid grid-cols-2 mx-auto mt-5 divide-x">
    <div>
      <button
        type="button"
        class="inline-block rounded-l-xl bg-white hover:bg-slate-200 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white"
      >
        <hero-icon
          name="document-add"
          type="solid"
          class="h-5 w-5 cursor-pointer text-transparent group-hover:fill-tms-warning-600 fill-black duration-200"
        ></hero-icon>
      </button>
    </div>
    <div>
      <button
        type="button"
        class="inline-block rounded-r-xl bg-white hover:bg-slate-200 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white"
      >
        <hero-icon
          name="user"
          type="solid"
          class="h-5 w-5 cursor-pointer text-transparent group-hover:fill-tms-warning-600 fill-black duration-200"
        ></hero-icon>
      </button>
    </div>
  </div>

  <!-- Date Display -->
  <!-- <div class="">
    <p class="text-center text-gray-400 text-lg">
      {{ currentDate | date : "medium" }}
    </p>
  </div> -->
</div>
