<div class="flex flex-col h-screen bg-gray-900 text-white p-2">
  <!-- Logo -->
  <img
    src="../../../../assets/images/AHI_Icon.png"
    alt="No Image"
    class="w-44 mx-auto"
  />

  <div class="text-right mt-10 mr-4">
    <h4 class="uppercase text-white text-xl">Averange Health</h4>
    <h1 class="text-white font-light text-8xl">82.52</h1>
    <h4 class="uppercase text-white text-xl">PERCENT Changes</h4>
    <h2 class="text-white font-light text-6xl">2.57%</h2>
  </div>

  <!-- Green Yellow Red -->
  <div class="grid grid-cols-3 mt-12">
    <div class="text-center">
      <p class="text-6xl font-light mb-2">20</p>
      <button
        type="button"
        class="mb-2 block w-full px-6 pb-2 pt-2.5 text-lg font-medium uppercase leading-normal text-black bg-lime-600"
      >
        Green
      </button>
    </div>
    <div class="text-center">
      <p class="text-6xl font-light mb-2">20</p>
      <button
        type="button"
        class="mb-2 block w-full px-6 pb-2 pt-2.5 text-lg font-medium uppercase leading-normal text-black bg-yellow-400"
      >
        Yellow
      </button>
    </div>
    <div class="text-center">
      <p class="text-6xl font-light mb-2">20</p>
      <button
        type="button"
        class="mb-2 block w-full px-6 pb-2 pt-2.5 text-lg font-medium uppercase leading-normal text-black bg-red-600"
      >
        Red
      </button>
    </div>
  </div>

  <!-- Fleet Dropdown -->
  <div class="ml-6 mt-10">
    <p class="uppercase text-xl">Fleet</p>
    <select
      class="form-select form-select-sm rounded-md block w-72 px-2 py-1.5 text-lg font-normal cursor-pointer text-black bg-clip-padding bg-no-repeat border border-solid border-gray-300 transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-x-blue-600 focus:outline-none"
    >
      <option value="">B737</option>
    </select>
  </div>

  <!-- Sort Dropdown -->
  <div class="ml-6 mt-3">
    <p class="uppercase text-xl">Sort</p>
    <select
      class="form-select form-select-sm rounded-md block w-72 px-2 py-1.5 text-lg font-normal cursor-pointer text-black bg-clip-padding bg-no-repeat border border-solid border-gray-300 transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-x-blue-600 focus:outline-none"
    >
      <option value="">Recent Update</option>
    </select>
  </div>

  <div class="grid grid-cols-2 mx-auto mt-5">
    <div>
      <button
        type="button"
        class="inline-block rounded-l-xl bg-white hover:bg-slate-200 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white"
      >
        <hero-icon
          name="document-add"
          type="solid"
          class="h-5 w-5 cursor-pointer text-transparent group-hover:fill-tms-warning-600 fill-black duration-200"
        ></hero-icon>
      </button>
    </div>
    <div>
      <button
        type="button"
        class="inline-block rounded-r-xl bg-white hover:bg-slate-200 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white"
      >
        <hero-icon
          name="user"
          type="solid"
          class="h-5 w-5 cursor-pointer text-transparent group-hover:fill-tms-warning-600 fill-black duration-200"
        ></hero-icon>
      </button>
    </div>
  </div>

  <!-- Date Display -->
  <!-- <div class="">
    <p class="text-center text-gray-400 text-lg">
      {{ currentDate | date : "medium" }}
    </p>
  </div> -->
</div>
