<div [@fadeInOut]>
<!-- Navbar -->
  <nav class="bg-transparent">
    <div class="container ml-14 flex justify-between items-center">
      <!-- Logo -->
      <div>
        <img
          src="../../../../assets/images/AHI_Icon.png"
          alt="No Image"
          class="w-36"
        />
      </div>
    </div>
  </nav>
  <!-- End Navbar -->

  <div
    class="bg-cover bg-center"
    style="background-image: url(../../../assets/images/bg-home-ahi.png)"
  >
    <!-- Header -->
    <div class="grid grid-cols-2 content-between mt-10">
      <div class="flex flex-row text-left text-white ml-14">
        <h1 class="text-5xl font-extralight">30</h1>
        <div class="flex-col ml-2 p-0">
          <h1 class="text-base font-normal">MAY 2023</h1>
          <h1 class="text-base font-normal">THURSDAY</h1>
        </div>
      </div>

      <div class="flex items-start">
        <!-- Image -->
        <img
          src="../../../../assets/images/tick.png"
          alt="Image Alt Text"
          class="w-20 h-20 mr-5"
        />

        <!-- Text -->
        <p class="text-left text-white text-sm font-normal">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum
          laboriosam pariatur, doloribus quod amet voluptatibus. Aliquam aut
          laborum neque ex sed esse vero ut libero! Quas laboriosam veritatis
          necessitatibus sint similique maxime nostrum optio ipsa maiores iste, id
          consequatur non voluptas sunt, exercitationem minima placeat suscipit
          voluptates! Praesentium, esse porro.
        </p>
      </div>
    </div>
    <!-- End Header -->

    <!-- User Name -->
    <div class="text-right mr-8 mt-3">
      <span
        class="inline-block text-left px-7 pb-2.5 pt-3 text-white bg-ahi-blue-600"
      >
        <p class="text-base font-bold">Andi Fahrurozi</p>
        <p class="text-sm">CEO GMF Aeroasia</p>
      </span>
    </div>
    <!-- End User Name -->

    <h1 class="text-center text-3xl text-white font-light uppercase mt-3">
      Welcome Back
    </h1>

    <div class="text-right text-3xl text-white font-light uppercase mt-3 m-8">
      <p>IT’S A GOOD DAY</p>
      <p>
        Status:
        <a href="" class="text-ahi-green-500 font-semibold cursor-default"
          >Green</a
        >
      </p>
    </div>

    <h1 class="text-center text-lg text-white font-light uppercase mt-2">
      Today Performance
    </h1>

    <div class="text-center flex flex-row justify-center items-center">
      <div class="flex flex-col text-center text-white mr-2">
        <img
          src="../../../../assets/images/arrow-green.png"
          alt="Image Alt Text"
          class="w-6 h-10"
        />12.1
      </div>
      <div class="flex flex-row items-end">
        <h2 class="text-8xl drop-shadow-lg font-bold text-white">82.</h2>
        <h1 class="text-5xl text-white font-semibold">52</h1>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <div class="grid gap-8 grid-cols-3">
      <div class="text-center">
        <p class="text-5xl font-extralight text-white mb-2">20</p>
        <button
          type="button"
          class="mb-2 w-36 px-2 pb-2 pt-2.5 text-sm font-medium uppercase leading-normal text-black bg-lime-600"
        >
          Green
        </button>
      </div>
      <div class="text-center">
        <p class="text-5xl font-extralight text-white mb-2">4</p>
        <button
          type="button"
          class="mb-2 w-36 px-2 pb-2 pt-2.5 text-sm font-medium uppercase leading-normal text-black bg-yellow-400"
        >
          Yellow
        </button>
      </div>
      <div class="text-center">
        <p class="text-5xl font-extralight text-white mb-2">11</p>
        <button
          type="button"
          class="mb-2 w-36 px-2 pb-2 pt-2.5 text-sm font-medium uppercase leading-normal text-black bg-red-600"
        >
          Red
        </button>
      </div>
    </div>
  </div>

  <div class="mx-auto justify-start flex mt-3">
    <div class="ml-14 flex flex-row">
      <div class="text-left">
        <button
          routerLink="/configuration"
          class="inline-block ml-3 rounded-full p-2 text-md font-medium leading-normal hover:bg-gray-500 text-neutral-50 transition duration-150 ease-in-out hover:border-neutral-100 hover:text-neutral-100 focus:border-neutral-100 focus:text-neutral-100 focus:outline-none focus:ring-0 active:border-neutral-200 active:text-neutral-200 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10"
        >
          <hero-icon
            name="cog"
            type="outline"
            class="w-5 cursor-pointer text-white group-hover:fill-ahi-warning-600 fill-black duration-200"
          ></hero-icon>
        </button>
      </div>
      <div class="text-left ml-4">
        <button
          class="inline-block ml-3 rounded-full p-2 text-md font-medium leading-normal hover:bg-gray-500 text-neutral-50 transition duration-150 ease-in-out hover:border-neutral-100 hover:text-neutral-100 focus:border-neutral-100 focus:text-neutral-100 focus:outline-none focus:ring-0 active:border-neutral-200 active:text-neutral-200 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10"
          (click)="doLogout()"
        >
          <hero-icon
            name="logout"
            type="outline"
            class="w-5 cursor-pointer text-white group-hover:fill-ahi-warning-600 fill-black duration-200"
          ></hero-icon>
        </button>
      </div>
    </div>
    <div class="mx-auto">
      <button
        routerLink="/dashboard"
        type="button"
        class="inline-block mr-36 rounded-full border-2 hover:bg-gray-500 border-gray-50 px-6 pb-[6px] pt-2 text-md font-medium leading-normal text-neutral-50 transition duration-150 ease-in-out dark:hover:bg-opacity-10"
        data-te-ripple-init
      >
        Go to details >
      </button>
    </div>
  </div>
</div>