<div class="container h-full bg-black mx-auto">
  <div class="grid grid-cols-4 gap-4 mr-2">
    <ng-container *ngFor="let card of cardData">
      <app-card-dashboard
        [title]="card.title"
        [count]="card.count"
        [total]="card.total"
        [subtitle]="card.subtitle"
        [time]="card.time"
        [timePeriod]="card.timePeriod"
        [date]="card.date"
        [year]="card.year"
        [direction]="card.total < 45 ? 'down' : 'up'"
        [themeColor]="
          card.total >= 75 ? 'green' : card.total >= 55 ? 'yellow' : 'red'
        "
      ></app-card-dashboard>
    </ng-container>
  </div>
</div>
